doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Automatic Fabric
  link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='/assets/css/styles.css')
div
  script.
    function auto(i) {
    document.getElementById("orgname").value='org'.concat(i);
    document.getElementById("ordererport").value=7050+i*100;
    document.getElementById("caport").value=7054+i*100;
    }
  .container(style='width: 80%;height: 60%;')
    .row
      .col-md-6(style='max-width: 20%;margin-top: 98px;height: 100%;text-align:center;')
        .table-responsive.table-bordered.text-center.border.rounded-0.border-white(style='max-height: 240px;min-height: 240px;')
          table.table.table-bordered
            tbody
              - for(var i=0;i<data.orgcount;i++)
                if(i==id)
                  tr
                    td.table-active
                      a(href='/create/setorg/'+i style='color: black') Org #{i}
                else if(data.org[i])
                  tr
                    td.table-success
                      a(href='/create/setorg/'+i style='color: white') Org #{i}
                else
                  tr
                    td
                      a(href='/create/setorg/'+i style='color: black') Org#{i}
      .col-md-6.text-center(style='max-width: 60%;min-width: 60%;')
        h1.text-center(style='margin-top: 20px;') Org Info Completed
        br
        h3.text-center(style='margin-top: 20px;') Double Check your info Before Submitting
        br
        form(method='post' enctype='application/json' action='/create/setpeer/initialize')
          input.form-control(name='data' type='text' hidden='' value=data)
          button.btn.btn-light.btn-lg(type='submit' style='margin-top: 5px;') Submit
      .col-md-6(style='max-width: 20%;margin-top: 80px;height: 70%;text-align: center;')
        iframe(src='http://free.timeanddate.com/clock/i7939c4e/n241/szw160/szh160/hbw0/hfc000/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw4/mqd94/mhcfff/mhl15/mhw4/mhd94/mmv0/hhcbbb/hmcddd/hsceee' frameborder='0' width='160' height='160')
        iframe(src='http://free.timeanddate.com/clock/i7938zsk/n241/tltw/fn6/fs16/fc9ff/tc000/ftb/bas2/bat1/bacfff/pa8/tt0/tw1/th1/ta1/tb4' frameborder='0' width='160' height='60')
script(src='/assets/js/jquery.min.js')
script(src='/assets/bootstrap/js/bootstrap.min.js')
